{% load static %}
<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'diettracker/signup.css' %}">
  <title>Sign in</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card_title">
                <h1>Create Account</h1>
                <span>Already have an account? <a href="login">Sign In</a></span>
            </div>
            <div class="form">
                <form action="/" method="post">
                    {% csrf_token %}
                    {% for fields in signupform %}
                        {{fields}}
                        {{fields.error}}
                    {% endfor %}
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
  
    
     
</body>

</html>

